main{
  padding: 3rem 3.1rem;
}

.scoreboard-container{
  width: 100%;
  height: 9.9rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem;
  border: 0.3rem $header-outline solid;
  border-radius: 0.6rem;

  img{
    // width: 10rem;
    // transform: scale(0.7);
    margin: 0.4rem 0 0 1rem;
    width: 8.6rem;
    height: 5rem;
    // width:8.4rem;
    // height: 5.1rem;
  }

  .scoreboard{
    background: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 8rem;
    height: 7.2rem;
    text-align: center;

    h2{
      color: $score-text;
      font-size: 0.95rem;
      letter-spacing: 2px;
    }

    .score{
      color: $dark-text;
      font-size: 4rem;
      font-weight: 700;
      position: relative;
      bottom: 0.4rem;
      letter-spacing: -0.5px;
    }
  }
}

.choices{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  .triangle{
    margin: 6rem 0 0 0.63rem;
    width: 18.5rem;
    height: 21rem;
    position: relative;
  }
}

.picks{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  // grid-template-columns: 33% 33% 33%;
  // grid-template-columns: repeat(6, 16.5%);
  grid-template-columns: repeat(9, 11.1%);
  // grid-template-columns: repeat(18, 5.55%);
  grid-template-rows: repeat(25, 4%);
  // place-items: center;

  .pick-container{
    width: 12.7rem;
    height: 12.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e6e6e6;
    border-radius: 50%;
    z-index: 1;

    .image{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem 2rem 1rem;
      width: 9.8rem;
      height: 9.8rem;
      background: #ececeb;
      box-shadow: inset 0 5px #bec0d5;
      border-radius: 69%;
      border: none;

      img{
        transform: scale(0.9);
      }
    }


    &.rock{
      // border: $rock-gradient-2 1.5rem solid;
      background:linear-gradient($rock-gradient-1, $rock-gradient-2);
      box-shadow: 0 7px 0 -1.5px #ae1b37;
      align-self: center;
      justify-self: center;
      grid-column-start: 1;
      grid-column-end: 10;
      // grid-row: 8;
      grid-row-start: 20;
      grid-row-end: 22;
    }

    &.paper{
      // border: $paper-gradient-2 1.5rem solid;
      background:linear-gradient($paper-gradient-1, $paper-gradient-2);
      box-shadow: 0 7px 0 -1.5px #2d1bd2f2;
      grid-column-start: 1;
      // grid-column-end: 11;
      grid-column-end: 5;
      // place-self: flex-end;
      align-self: flex-end;
      justify-self: center;
      // grid-row: 2;
      grid-row-start: 5;
      grid-row-end: 13;
      margin-right: 0.8rem;
    }
    
    &.scissors{
      background:linear-gradient($scissor-gradient-1, $scissor-gradient-2);
      box-shadow: 0 7px 0 -1.5px #d27d1bf2;
      // grid-column-start: 12;
      // grid-column-end: 18;
      grid-column-start: 6;
      grid-column-end: 10;
      align-self: flex-end;
      justify-self: center;
      // grid-row: 2;
      grid-row-start: 5;
      grid-row-end: 13;
      margin-left: 0.8rem;
    }

  }
}

.choice{
  position: absolute;
  width: 14rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  color: #fff;
  grid-row: 2;
  visibility: hidden;

  &.my-choice{
    grid-column: 1;
    grid-column-end: 5;
    justify-self: center;
    margin-right: 1rem;
  }

  &.computer-choice{
    grid-column-start: 6;
    justify-self: center;
    // align-self: center;
    // grid-row-end: 16;
    margin-left: 1rem;
  }

  .circle-container{
    margin: 0 auto;
    width: 10.9rem;
    height: 10.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #192845;
    border-radius: 50%;
  }

  h3{
    white-space: nowrap;
    font-size: 1.45rem;
    letter-spacing: 2px;
    margin: auto;
    margin-top: 3.5rem;
  }
}