.modal{
  position: absolute;
  width: 100%; 
  height: 75rem;
  padding: 0 2rem;
  top: 0;
  display: flex;
  flex-direction: column;
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
  transition:  0.5s ease-in-out;
  
  &.active{
    visibility: visible;
    z-index: 3;
    background: #fff;
    transform: scale(1);
    opacity: 1;

    h1, .img-rules, .close-btn{
      display: block;
    }

    .close-btn{
      display: block;
    }
  }

  
  h1{
    margin: 9.3rem auto 8.9rem;
    font-size: 3.2rem;
    color: $dark-text;
    display: none;
  }

  .img-rules{
    padding: 2rem 1rem;
    width: 100%;
    max-width: 32.4rem;
    margin: 0 auto;
    display: none;
  }

  .close-btn{
    width: 2rem;
    height: 2rem;
    margin: 13.5rem auto auto;
    display: none;
  }
}

@media (min-width:1000px){
  .modal{
    width: 30%;
    height: 41.6rem;
    right: 0;
    left: 0;
    top: 0.3rem;
    bottom: 0;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0 0 0 60rem #0707078f;

    h1{
      margin: 2.7rem 1.8rem 0.9rem;
      position: absolute;
    }

    .close-btn{
      margin: 3.7rem 2.5rem;
      position: absolute;
      right: 1rem;
    }

    .img-rules{
      position: absolute;
      right: 0;
      left: 0;
      top: 9rem;
    }
  }
}