/* MOBILE FIRST */
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
  position: relative;
  width: 100%;
  height: 75rem;
  background: radial-gradient(circle at top center, #1f3756, #141539);
}

.modal {
  position: absolute;
  width: 100%;
  height: 75rem;
  z-index: 1;
  background: #fff;
  padding: 0 2rem;
  top: 0;
  display: none;
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal h1 {
  margin: 9.3rem auto 8.9rem;
  font-size: 3.2rem;
  color: #3b4363;
}

.modal .img-rules {
  padding: 2rem 1rem;
  width: 100%;
  max-width: 32.4rem;
  margin: 0 auto;
}

.modal .close-btn {
  width: 2rem;
  height: 2rem;
  margin: 13.5rem auto auto;
}

main {
  padding: 3rem 3.1rem;
}

.scoreboard-container {
  width: 100%;
  height: 9.9rem;
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border: 0.3rem #606e85 solid;
  border-radius: 0.6rem;
}

.scoreboard-container img {
  margin: 0.4rem 0 0 1rem;
  width: 8.6rem;
  height: 5rem;
}

.scoreboard-container .scoreboard {
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 8rem;
  height: 7.2rem;
  text-align: center;
}

.scoreboard-container .scoreboard h2 {
  color: #2a46c0;
  font-size: 0.95rem;
  letter-spacing: 2px;
}

.scoreboard-container .scoreboard .score {
  color: #3b4363;
  font-size: 4rem;
  font-weight: 700;
  position: relative;
  bottom: 0.4rem;
  letter-spacing: -0.5px;
}

.choices {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choices .triangle {
  margin: 6rem 0 0 0.63rem;
  width: 18.5rem;
  height: 21rem;
  position: relative;
}

.picks {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (11.1%)[9];
      grid-template-columns: repeat(9, 11.1%);
  -ms-grid-rows: (4%)[25];
      grid-template-rows: repeat(25, 4%);
}

.picks .pick-container {
  width: 12.7rem;
  height: 12.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e6e6e6;
  border-radius: 50%;
}

.picks .pick-container .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 2rem 1rem;
  width: 9.8rem;
  height: 9.8rem;
  background: #ececeb;
  -webkit-box-shadow: inset 0 5px #bec0d5;
          box-shadow: inset 0 5px #bec0d5;
  border-radius: 69%;
  border: none;
}

.picks .pick-container .image img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.picks .pick-container:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
  -webkit-box-shadow: 0 7px 0 -1.5px #ae1b37;
          box-shadow: 0 7px 0 -1.5px #ae1b37;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 10;
  -ms-grid-row: 20;
      grid-row-start: 20;
  grid-row-end: 22;
}

.picks .pick-container:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
  -webkit-box-shadow: 0 7px 0 -1.5px #2d1bd2f2;
          box-shadow: 0 7px 0 -1.5px #2d1bd2f2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 13;
  margin-right: 0.8rem;
}

.picks .pick-container:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
  -webkit-box-shadow: 0 7px 0 -1.5px #d27d1bf2;
          box-shadow: 0 7px 0 -1.5px #d27d1bf2;
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 10;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 13;
  margin-left: 0.8rem;
}
/*# sourceMappingURL=style.css.map */